* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2d3038;
}

body {
  background: #f4f4f4;
  font-style: oblique;
  font-weight: bold;
}

.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  margin-top: 20px;
  width: 100%;
  z-index: 2;
}

.navbar-nav>li>a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0.76);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #f4f4f4;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-toggle {
  border-color: #c0392b;
}

.li {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 0.01);
  cursor: pointer;
  font-size: 18px;
}

.active, .li:hover {
  background-color:  !important;
  color: white !important;
}

/* section */

.section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 90vh;
  padding-bottom: 25px;
  background-color: #1D1D1B center/cover no-repeat;
  color: #fff;
}

.section *:not(first-child) {
  margin-top: 30px;
}

#header {
  min-height: 100vh;
}

/* flex col */

.flex-col {
  display: flex;
  justify-content: left;
  align-content: left;
  align-items: left;
  text-align: center;
}

/* left banner */

.leftBanner {
  margin: 5%;
  text-align: center;
  font-family: Trattatello, fantasy;
  font-size: 40px;
}

.rightBanner {
  font-family: margin-right:11%;
}

.footer {
  background: #c0392b;
  text-align: center;
  letter-spacing: 1px;
}
