* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2d3038;
}

body {
  background: #f4f4f4;
  font-style: oblique;
  font-weight: bold;
}

body>h1 {
  font-size: 10px;
}

.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 3px;
  position: fixed;
  margin-top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-nav>li>a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0.76);
  border-color: #c0392b;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffbbbc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-toggle {
  border-color: #c0392b;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

.navbar-logo {
  margin-top: 9px;
  font-size: 30px;
  padding-left: 0;
}

.li {
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  cursor: pointer;
  font-size: 18px;
}

.active, .li:hover {
  color: #c0392b;
}

/* section */

.section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 90vh;
  padding-bottom: 25px;
  background-color: #1D1D1B center/cover no-repeat;
  color: #fff;
}

.section *:not(first-child) {
  margin-top: 30px;
}

#header {
  min-height: 100vh;
  background: #0f0f0f;
  width: 100% animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* flex col */

.flex-col {
  display: flex;
  justify-content: left;
  align-content: left;
  align-items: left;
  text-align: center;
}

/* left banner */

.leftBanner {
  text-align: left;
  font-family: Trattatello, fantasy;
  font-size: 40px;
  padding-top: 80px;
}

.rightBanner {
  text-align: center;
  padding-bottom: 200px;
}

.footer {
  background: #c0392b;
  text-align: center;
  letter-spacing: 1px;
}

.prog {
  letter-spacing: 3px;
  font-size: 53px;
}


img {
  margin-left: 50px;
  width: 70px;
  height: 70px;
}

/* skills progress bar */

.progress-bar {
  background: #333333;
  color: #ffffff;
}
